@import url(https://fonts.googleapis.com/css?family=Bangers);
@import url(https://fonts.googleapis.com/css?family=Poiret+One);
@charset "UTF-8";

body {
  background-color: #DBE6EC;
  font-family: sans-serif;
}
p {
  text-align: justify;
  text-indent: 50px;
}

div#interface {
  width: 900px;
  margin: -20px auto 0px auto;
  padding: 20px;
  background-color: #E8F3F8;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.6);
}


/* Formatando o cabeçalho*/

header#cabecalho {
  border-bottom: 2px rgba(194,203,206, 1) solid;
  height: 170px;
}

header#cabecalho img#icone{
  position: relative;
  left: 550px;
  top: -120px;
}

header#cabecalho h1{
  font-family: 'Bangers', cursive;
  color: #3465a4;
  font-size: 42pt;
  text-shadow: 1px 1px 4px #a8c1e0;
  margin-bottom: 0px;
}

header#cabecalho h2{
  font-family: 'Poiret One', cursive;
  color: #81A8B8;
  font-size: 18pt;
  margin-top: 0px;
}



/* Formatação do Menu */

nav#menu {
  display: block;
}

nav#menu ul{
  list-style: none;
  text-transform: uppercase;
  position: relative;
  top:  -200px;
  left: -50px;
}

nav#menu li{
  display: inline-block;
  background-color: rgba(194,203,206, 1);
  padding: 5px;
  margin: 2px;
}

nav#menu h1{
  display: none;
}

section#principal {
  display: block;
  width: 500px;
  float: left;
}

aside#lateral {
  display: block;
  width: 350px;
  float: right;
  background-color: rgba(194,203,206, 0.5);
  padding: 10px;
  margin: 10px;
}

footer {
  clear: both;
  border-top: 2px rgba(194,203,206, 1) solid;
}

footer p{
  text-align: center;
}
